*.aux
*.fdb_latexmk
*.fls
*.log
*.out
!animate.py
*.tex
*.toc
__pycache__
two_agent_solution.py
run_two_agent_solution.py
multi_swarm_solution.py
turing_sds_original.py
multi-swarm-animation.json
frames/*.ps
doc/graves2014neural.pdf
logtime-eps-converted-to.pdf
no-counter-pseudocode.pdf
notes.pdf
diagrams.pdf
out.pdf
turing_sds_original.pdf
